<h1>Authors</h1>

<%= link_to 'Create Author', new_author_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Country of Origin</th>
      <th>Short Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |author| %>
      <tr>
        <td><%= author['name'] %></td>
        <td><%= author['date_of_birth'] %></td>
        <td><%= author['country_of_origin'] %></td>
        <td><%= author['short_description'] %></td>
        <td>
          <%= link_to 'Show', author_path(author['id']), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_author_path(author['id']), class: 'btn btn-warning' %>
          <%= link_to 'Delete', author_path(author['id']), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
