<h1>New Author</h1>

<%= form_with url: authors_path, method: :post, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  
  <p>
    <%= form.label :biography %><br>
    <%= form.text_area :biography %>
  </p>
  
  <p>
    <%= form.label :books_count %><br>
    <%= form.number_field :books_count %>
  </p>

  <p>
    <%= form.submit 'Create Author' %>
  </p>
<% end %>

<%= link_to 'Back to Authors', authors_path %>
