<h1>New Author</h1>
<%= form_with url: authors_path, local: true, multipart: true do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>

  <%= label_tag :date_of_birth %>
  <%= date_field_tag :date_of_birth %><br>

  <%= label_tag :country_of_origin %>
  <%= text_field_tag :country_of_origin %><br>

  <%= label_tag :short_description %>
  <%= text_area_tag :short_description %><br>

  <%= label_tag :image_path, "Author Image" %>
  <%= file_field_tag :image %><br>

  <%= hidden_field_tag :id, SecureRandom.uuid %>

  <%= submit_tag 'Create Author' %>
<% end %>
<%= link_to 'Back', authors_path %>
