<h1><%= @author['name'] %></h1>
<p>Date of Birth: <%= @author['date_of_birth'] %></p>
<p>Country of Origin: <%= @author['country_of_origin'] %></p>
<p>Short Description: <%= @author['short_description'] %></p>



<%= link_to 'Edit', edit_author_path(@author['id']) %> |
<%=link_to 'Delete',author_path(@author['id']) , data: { turbo_method: "delete" }%>|
<%= link_to 'Back to Authors', authors_path %>
