<h1>Edit Book</h1>
<%= form_with url: book_path(@id), method: :patch, local: true do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @book['name'] %><br>

  <%= label_tag :summary %>
  <%= text_area_tag :summary, @book['summary'] %><br>

  <%= label_tag :date_of_publication %>
  <%= date_field_tag :date_of_publication, @book['date_of_publication'] %><br>

  <%= label_tag :number_of_sales %>
  <%= number_field_tag :number_of_sales, @book['number_of_sales'] %><br>

  <%= label_tag :author_id %>
  <%= text_field_tag :author_id, @book['author_id'] %><br>

  <%= hidden_field_tag :id, @book['id'] %>
  
  <%= submit_tag 'Update Book' %>
<% end %>
<%= link_to 'Back', book_path(@book['id']) %>
