<h1>Edit Book</h1>
<%= form_with url: book_path(@to_edit['id']), method: :patch, local: true do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, @to_edit['name'] %><br>

  <%= label_tag :summary %>
  <%= text_area_tag :summary, @to_edit['summary'] %><br>

  <%= label_tag :date_of_publication %>
  <%= date_field_tag :date_of_publication, @to_edit['date_of_publication'] %><br>

  <%= label_tag :number_of_sales %>
  <%= number_field_tag :number_of_sales, @to_edit['number_of_sales'] %><br>

  <%= label_tag :author_id %>
  <%= text_field_tag :author_id, @to_edit['author_id'] %><br>

  <%= hidden_field_tag :id, @to_edit['id'] %>
  
  <%= submit_tag 'Update book' %>
<% end %>
<%= link_to 'Back', book_path(@to_edit['id']) %>
