<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Summary</th>
      <th>Date of Publication</th>
      <th>Number of Sales</th>
      <th>Author ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |book| %>
      <tr>
        <td><%= book['name'] %></td>
        <td><%= book['summary'] %></td>
        <td><%= book['date_of_publication'] %></td>
        <td><%= book['number_of_sales'] %></td>
        <td><%= book['author_id'] %></td>
        <td><%= link_to 'Show', book_path(book['id']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

