<h1>New Book</h1>
<%= form_with url: books_path, local: true, multipart: true do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>

  <%= label_tag :summary %>
  <%= text_area_tag :summary %><br>

  <%= label_tag :date_of_publication %>
  <%= date_field_tag :date_of_publication %><br>

  <%= hidden_field_tag :number_of_sales %><br>

  <%= label_tag :author_id, "Select Author" %>
  <%= select_tag :author_id, options_for_select(@authors.map { |author| [author["name"], author["id"]] }) %><br>

  <%= label_tag :cover_image, "Upload Cover Image" %>
  <%= file_field_tag :cover_image %><br>

  <%= hidden_field_tag :id, SecureRandom.uuid %>

  <%= submit_tag 'Create Book' %>
<% end %>

<%= link_to 'Back', books_path %>
