<h1>Edit Review</h1>
<%= form_with url: review_path(@id), method: :patch, local: true do %>
  <%= label_tag :review %>
  <%= text_area_tag :review, @review['review'] %><br>

  <%= label_tag :score %>
  <%= number_field_tag :score, @review['score'] %><br>

  <%= label_tag :number_of_up_votes %>
  <%= number_field_tag :number_of_up_votes, @review['number_of_up_votes'] %><br>

  <%= label_tag :book_id %>
  <%= text_field_tag :book_id, @review['book_id'] %><br>

  <%= hidden_field_tag :id, @review['id'] %>
  
  <%= submit_tag 'Update Review' %>
<% end %>
<%= link_to 'Back', review_path(@review['id']) %>

