<h1>Edit Review</h1>

<%= form_with url: review_path(@review['id']), method: :patch, local: true do |form| %>
  <p>
    <%= form.label :book_title %><br>
    <%= form.text_field :book_title, value: @review['book_title'] %>
  </p>
  
  <p>
    <%= form.label :reviewer_name %><br>
    <%= form.text_field :reviewer_name, value: @review['reviewer_name'] %>
  </p>
  
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, step: 0.1, value: @review['rating'] %>
  </p>
  
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment, value: @review['comment'] %>
  </p>

  <p>
    <%= form.submit 'Update Review' %>
  </p>
<% end %>

<%= link_to 'Back to Reviews', reviews_path %>
