<h1>Reviews</h1>
<%= link_to 'Create Review', new_review_path, class: 'btn btn-primary' %>
<table>
  <thead>
    <tr>
      <th>Review</th>
      <th>Score</th>
      <th>Number of Up Votes</th>
      <th>Book ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |review| %>
      <tr>
        <td><%= review['review'] %></td>
        <td><%= review['score'] %></td>
        <td><%= review['number_of_up_votes'] %></td>
        <td><%= review['book_id'] %></td>
        <td><%= link_to 'Show', review_path(review['id']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

