<h1>New Review</h1>
<%= form_with url: reviews_path, local: true do %>
  <%= label_tag :review %>
  <%= text_area_tag :review %><br>

  <%= label_tag :score %>
  <%= number_field_tag :score %><br>

  <%= label_tag :number_of_up_votes %>
  <%= number_field_tag :number_of_up_votes %><br>

  <%= label_tag :book_id %>
  <%= text_field_tag :book_id %><br>

  <%= hidden_field_tag :id, SecureRandom.uuid %>

  <%= submit_tag 'Create Review' %>
<% end %>
<%= link_to 'Back', reviews_path %>
