<h1>New Review</h1>

<%= form_with url: reviews_path, method: :post, local: true do |form| %>
  <p>
    <%= form.label :book_title %><br>
    <%= form.text_field :book_title %>
  </p>
  
  <p>
    <%= form.label :reviewer_name %><br>
    <%= form.text_field :reviewer_name %>
  </p>
  
  <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating, step: 0.1 %>
  </p>
  
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit 'Create Review' %>
  </p>
<% end %>

<%= link_to 'Back to Reviews', reviews_path %>
