<h1>Review Details</h1>
<p>Review: <%= @review['review'] %></p>
<p>Score: <%= @review['score'] %></p>
<p>Number of Up Votes: <%= @review['number_of_up_votes'] %></p>
<p>Book ID: <%= @review['book_id'] %></p>


<%= link_to 'Edit', edit_review_path(@review['id']) %> |
<%=link_to 'Delete',review_path(@review['id']) , data: { turbo_method: "delete" }%>|
<%= link_to 'Back to Reviews', reviews_path %>
