<h1>Edit Sale</h1>

<%= form_with url: sale_path(@sale['id']), method: :patch, local: true do |form| %>
  <p>
    <%= form.label :book_title %><br>
    <%= form.text_field :book_title, value: @sale['book_title'] %>
  </p>
  
  <p>
    <%= form.label :copies_sold %><br>
    <%= form.number_field :copies_sold, value: @sale['copies_sold'] %>
  </p>
  
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date, value: @sale['date'] %>
  </p>

  <p>
    <%= form.submit 'Update Sale' %>
  </p>
<% end %>

<%= link_to 'Back to Sales', sales_path %>
