<h1>Edit Sale</h1>
<%= form_with url: sale_path(@id), method: :patch, local: true do %>
  <%= label_tag :book_id %>
  <%= text_field_tag :book_id, @sale['book_id'] %><br>

  <%= label_tag :year %>
  <%= number_field_tag :year, @sale['year'] %><br>

  <%= label_tag :sales %>
  <%= number_field_tag :sales, @sale['sales'] %><br>

  <%= hidden_field_tag :id, @sale['id'] %>
  
  <%= submit_tag 'Update Sale' %>
<% end %>
<%= link_to 'Back', sale_path(@sale['id']) %>
