<h1>New Sale</h1>
<%= form_with url: sales_path, local: true do %>
  <%= label_tag :book_id, "Select Book" %>
  <%= select_tag :book_id, options_for_select(@books.map { |book| [book["name"], book["id"]] }) %><br>

  <%= label_tag :year %>
  <%= number_field_tag :year %><br>

  <%= label_tag :sales %>
  <%= number_field_tag :sales %><br>

  <%= hidden_field_tag :id, SecureRandom.uuid %>

  <%= submit_tag 'Create Sale' %>
<% end %>
<%= link_to 'Back', sales_path %>
