<h1>New Sale</h1>

<%= form_with url: sales_path, method: :post, local: true do |form| %>
  <p>
    <%= form.label :book_title %><br>
    <%= form.text_field :book_title %>
  </p>
  
  <p>
    <%= form.label :copies_sold %><br>
    <%= form.number_field :copies_sold %>
  </p>
  
  <p>
    <%= form.label :date %><br>
    <%= form.date_field :date %>
  </p>

  <p>
    <%= form.submit 'Create Sale' %>
  </p>
<% end %>

<%= link_to 'Back to Sales', sales_path %>
