<h1>Sale Details</h1>
<p>Book ID: <%= @sale['book_id'] %></p>
<p>Year: <%= @sale['year'] %></p>
<p>Sales: <%= @sale['sales'] %></p>



<%= link_to 'Edit', edit_sale_path(@sale['id']) %> |
<%=link_to 'Delete',sale_path(@sale['id']) , data: { turbo_method: "delete" }%>|
<%= link_to 'Back to Sales', sales_path %>
